header{
    width: 100%;
    display: flex;
    
    
}
nav{
    float: left;
    overflow: hidden;
    background-color: rgb(189, 189, 189);
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    height: 20%;

}
nav ul{
    display: flex;
    list-style: none;
    position: static;
    float: left;
    width: 25%;
    height: 100%;

}
nav ul li{
    margin-right: 10px;
    display: inline;
    float: left;
}
nav ul li a{
    text-decoration: none;
    color: black;
    display: block;
    float: left;
    padding: 10px;
    
}
@media only screen and (max-width: 1400px){
ul{
    width: 100%;
    height: auto;
    position: relative;
}
}
